aiofiles
aiohttp
asyncio
apscheduler
beautifulsoup4
dnspython
duckduckgo-search
ffmpeg-python
gitpython
hachoir
heroku3
httpx
Kurigram
motor
ntgcalls
opencv-python
pillow==9.5.0
psutil
py-tgcalls
py-yt-search
pykeyboard
PyGithub
python-dotenv
pyyaml==6.0.1
requests
speedtest-cli
spotipy
tgcrypto
unidecode
youtube-search
youtube-search-python
yt-dlp
