API_ID= 21692000 
API_HASH= 1e37856155373adf855c061c49847ced
BOT_TOKEN= 8510023996:AAFmzUBWdivYVhk-3X7W0ycTEnXYRdwqbBE
LOGGER_ID= -1003979103138
MONGO_DB_URI= mongodb+srv://TEAM-KRITI:6MUrAhEdww12DaV6@cluster0.53piq9u.mongodb.net/?appName=Cluster0
OWNER_ID= 8510023996
STRING_SESSION= BQFK_mAAULtvgW1b6_blj9oM8-GIqyFPuLTyNReUaL6LLYGomw2ZgH_Mltnb2XzupvCF3jNbj4C1rjxp_1El3UeULpyPRm0xG4hZnJfOkpJWD_izWpXHDTWF7KIr1n7vFZw_Mc4V-uNMcUY85EC2gBsk7vb644Bg64zLHllgshpjGpfEKuf8fiAl4tQAJW48kdb414To6j-E0Uc88PghleSSZ5expQVUEmfTrzXuEnUaKmvvb2oK8cIMCXV_VGZWPl6-EdQRTu9KRYTZadlxlqgXJIa-fw_CaGHMBWzAzSiVAeadECJyYrIX3uVoG9J6fMxyU7-YIeQj2CmdzPLcSVoAi8ULTQAAAAHrNpBAAA
